<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Blog Home Page</Name>
    <Alias>BlogHomePage</Alias>
    <Icon>package.png</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>BlogPage</Master>
    <Compositions>
      <Composition>BlogPage</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>BlogHomePage</Template>
      <Template>RSS</Template>
      <Template>Search</Template>
    </AllowedTemplates>
    <DefaultTemplate>BlogHomePage</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>BlogFolder</DocumentType>
    <DocumentType>BlogTextPage</DocumentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Name>Site Name</Name>
      <Alias>siteName</Alias>
      <Type>Umbraco.Textbox</Type>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Tab>Global</Tab>
      <Mandatory>True</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>17</Id>
      <Caption>Side Bar</Caption>
      <SortOrder>1</SortOrder>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Id>18</Id>
      <Caption>Search</Caption>
      <SortOrder>2</SortOrder>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Id>20</Id>
      <Caption>Global</Caption>
      <SortOrder>1</SortOrder>
      <SortOrder>1</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>