<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Blog Folder</Name>
    <Alias>BlogFolder</Alias>
    <Icon>folder.gif</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>BlogMaster</Master>
    <Compositions>
      <Composition>BlogMaster</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>BlogHomePage</Template>
    </AllowedTemplates>
    <DefaultTemplate>BlogHomePage</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure>
    <DocumentType>BlogFolder</DocumentType>
    <DocumentType>BlogTextPage</DocumentType>
    <DocumentType>BlogPost</DocumentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</DocumentType>