<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />


    <customErrors mode="Off" defaultRedirect="~/error.html" xdt:Transform="Replace"/>

  </system.web>

  <system.webServer>
    
    <rewrite xdt:Transform="Insert">
      <rules>
        <rule name="Enforce canonical hostname" stopProcessing="true">

          <match url="(.*)" />

          <conditions>
            <add input="{HTTP_HOST}" negate="true" pattern="^blog\.darren-ferguson\.com$" />
            <add input="{HTTP_HOST}" negate="true" pattern="^localhost$" />
          </conditions>
          <action type="Redirect" url="http://blog.darren-ferguson.com/{R:1}" redirectType="Permanent" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
  
</configuration>