<?xml version="1.0" encoding="utf-8"?>
<metablogapi>
  <channel>
    <name>Blog</name>
    <user>0</user>
    <startNode>1488</startNode>
    <fullTree>True</fullTree>
    <documentTypeAlias>BlogPost</documentTypeAlias>
    <fields>
      <categories>
      </categories>
      <description>summary</description>
      <excerpt>
      </excerpt>
    </fields>
    <mediaObjectSupport enabled="True" folderId="1941" mediaTypeAlias="Image" mediaTypeFileProperty="umbracoFile" />
  </channel>
</metablogapi>