<?xml version="1.0" encoding="utf-8"?>
<DocumentType>
  <Info>
    <Name>Blog Text Page</Name>
    <Alias>BlogTextPage</Alias>
    <Icon>.sprTreeDoc</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Master>BlogPage</Master>
    <Compositions>
      <Composition>BlogPage</Composition>
    </Compositions>
    <AllowedTemplates>
      <Template>BlogTextPage</Template>
    </AllowedTemplates>
    <DefaultTemplate>BlogTextPage</DefaultTemplate>
    <Container>False</Container>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Name>Body Text</Name>
      <Alias>bodyText</Alias>
      <Type>Umbraco.TinyMCEv3</Type>
      <Definition>ca90c950-0aff-4e72-b976-a30b1ac57dad</Definition>
      <Tab>Body</Tab>
      <Mandatory>False</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Id>16</Id>
      <Caption>Body</Caption>
      <SortOrder>1</SortOrder>
      <SortOrder>1</SortOrder>
    </Tab>
    <Tab>
      <Id>24</Id>
      <Caption>Metadata</Caption>
      <SortOrder>2</SortOrder>
      <SortOrder>2</SortOrder>
    </Tab>
  </Tabs>
</DocumentType>